@model IEnumerable<UnchurisApp.Models.Advertisement>

@{
  ViewBag.Title = "AdvertisementsAllUsers";
}

<form asp-controller="Home" asp-action="AdvertisementsAllUsers">
    <p>
        Title: <input type="text" name="title">
        Text: <input type="text" name="text">
        Author: <input type="text" name="author">
        <input type="submit" value="Filter" />
    </p>
</form>

@section LeftPanel {
    @if (Model.Any()) {
        foreach (var advertisement in Model) {
        @Html.Partial("_AdvertisementAll", advertisement);
        }
    } else {
    <p>Quick! Post a Advertisement!</p>
    }
}

