@model UserViewModel

@{
  ViewBag.Title = "UserProfile";
}

@section RightPanel {
    @{
      Html.RenderAction("Create", "Home");
    }
}

@Html.Partial("_UserPartial", Model.User)

<div class="panel left">
    <h1>Advertisement</h1>
    @foreach (var advertisement in Model.Advertisements) {
    @Html.Partial("_AdvertisementPartial", advertisement)
    }
</div>
